<form [formGroup]="form" class="form-container">
  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username" />
  </div>

  <div>
    @if (form.dirty) { @if (form.get('username')?.pending) {
    <span>...</span>
    } @else if (form.get('username')?.valid) {
    <span>User Exists</span>
    } @else if (form.get('username')?.errors?.['userNotFound']) {
    <span>User Doesn't Exist</span>
    } }
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" />
  </div>

  <div>
    @if (form.get('password')?.invalid && form.get('password')?.dirty) {
    <span>Password is required</span>
    } @if (form.get('password')?.valid && loginFailed) {
    <span>Incorrect Password</span>
    }
  </div>

  <button (click)="login()">Login</button>
</form>
